# Исключаем папку с настройками IntelliJ IDEA
.idea/

# Исключаем файлы модулей IDEA
*.iml

# Исключаем папку с результатами сборки Maven или Gradle
target/
build/

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log
