# Игнорировать файлы и папки IDE
.idea/
*.iml

# Игнорировать временные и системные файлы
*.class
*.log
*.out
*.swp
.DS_Store
target/
/PP_1_1_3-4_JDBC_Hibernate/
/PP_2_1_2_Spring_HelloWorld/
/PP_2_1_3_SpringBeans/
.idea/
GIT/
PP_2_1_4_spring-types-of-wiring/
PP_2_2_2_spring-mvc/
maven-mvnd-1.0.3-windows-amd64/
untitled/
Документ Microsoft Word.docx
